src/main/app/proxy.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:api-platform-gw="http://www.mulesoft.org/schema/mule/api-platform-gw"
      xmlns:expression-language="http://www.mulesoft.org/schema/mule/expression-language-gw"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/api-platform-gw http://www.mulesoft.org/schema/mule/api-platform-gw/current/mule-api-platform-gw.xsd
http://www.mulesoft.org/schema/mule/expression-language-gw http://www.mulesoft.org/schema/mule/expression-language-gw/current/mule-expression-language-gw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd">

    <configuration defaultProcessingStrategy="non-blocking" doc:name="Configuration"/>

    <api-platform-gw:api apiName="![p['api.name']]" version="![p['api.version']]" flowRef="proxy">
    </api-platform-gw:api>

    <flow name="proxy">
        <http:listener config-ref="HTTPS_Listener_Configuration" path="![p['proxy.path']]" parseRequest="false" doc:name="HTTP"/>

        <logger message="We have received from Aria: #[message.payloadAs(java.lang.String)]" level="INFO" category="com.merrillcorp.integration" doc:name="Logger"/>
 
        <custom-processor class="com.mulesoft.gateway.extension.ProxyRequestHeadersProcessor" doc:name="Custom Processor"/>
        <until-successful maxRetries="5" failureExpression="exception!=null &amp;&amp; (exception.causedBy(java.io.IOException) || exception.causedBy(java.net.ConnectException)  || exception.causedBy(java.net.SocketTimeoutException))" synchronous="true" doc:name="Until Successful">
            <http:request config-ref="http-request-config" path="#[message.inboundProperties['http.relative.path']]" method="#[message.inboundProperties['http.method']]" parseResponse="false" doc:name="HTTP">
                <http:request-builder>
                    <http:query-params expression="#[message.inboundProperties['http.query.params']]"/>
                </http:request-builder>
                <http:success-status-code-validator values="0..599"/>
            </http:request>
        </until-successful>

 
        <logger message="We got back from Vertex #[message.payloadAs(java.lang.String)]" level="INFO" category="com.merrillcorp.integration" doc:name="Logger"/>

        <!-- <parse-template location="vertex-response.xml" doc:name="Parse Template"/> -->

        <object-to-string-transformer doc:name="Consume the Stream"/>

        <custom-processor class="com.mulesoft.gateway.extension.ProxyResponseHeadersProcessor" doc:name="Custom Processor"/>
        <choice-exception-strategy doc:name="Choice Exception Strategy">
            <catch-exception-strategy when="#[exception instanceof org.mule.api.MessagingException &amp;&amp; exception.causedExactlyBy(java.util.concurrent.TimeoutException)]" doc:name="Catch Exception Strategy">
                <set-property propertyName="http.status" value="504" doc:name="Property"/>
                <set-payload value="Gateway timeout" doc:name="Set Payload"/>
            </catch-exception-strategy>
        </choice-exception-strategy>
    </flow>

</mule>
